.card-item{
  flex: 1;
  padding: 3px 3px 3px 3px;
  width:300px;
}

.payment-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));

}

.settle{
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
